<h2>ALGEMENE VOORWAARDEN GEBRUIKERS</h2>
Wij waarderen het vertrouwen dat u stelt in Oak BVBA en nemen uw rechten zeer ernstig op. Deze algemene voorwaarden zullen u duidelijk maken wat uw wettelijke situatie is tijdens uw bezoek op panem.be. Door een account aan te maken op panem.be, stemt u toe tot een wettelijke verbintenis en gaat u akkoord om de bepalingen en voorwaarden hieronder na te leven. Op alle aanbiedingen, bestellingen en overeenkomsten van Oak BVBA zijn deze algemene voorwaarden van toepassing.
<h3>Verzakingsrecht</h3>
De consument beschikt niet over het recht om van zijn aankoop af te zien nadat de bestelling wordt doorgegeven aan de bakker. U kan echter wel steeds de bestelling annuleren of aanpassen tot op het moment dat wij de bestellingen doorsturen naar de bakker. Het exacte tijdstip waarop wij de bestellingen doorsturen naar de winkel zal steeds worden aangegeven op de webpagina van de winkel in kwestie. De winkel waarbij de bestelling is geplaatst dient deze bestelling goed te keuren. U zal hiervan op de hoogte gebracht worden via mail.
<h3>Afhaling van uw aankoop</h3>
De plaats van afhaling betreft de winkel waarbij u uw bestelling heeft geplaatst. U vindt op de pagina van de desbetreffende winkel gegevens over de tijdstippen wanneer u een bestelling kan afhalen. Oak BVBA kan niet aansprakelijk worden gesteld voor eventuele bestellingen die niet werden behandeld door de winkels in kwestie. De aangesloten winkels blijven ten alle tijde verantwoordelijk voor het tijdig bereiden van de door u geplaatste bestelling.
<h3>Toepasselijke wetgeving en bevoegde jurisdictie</h3>
De Belgische wet is van toepassing. Enkel de rechtbanken en hoven van het gerechtelijk arrondissement [XXXXXXX] zullen bevoegd zijn in geval van een geschil.

<br /><br />
<p>Indien je helemaal tot hier gelezen hebt, verdien je een <a href="/wim.html">gratis brood</a>.</p>
