<div class="container">
    <div class="row spacer-medium"> <!-- main -->
        <div class="col-md-8 col-md-offset-2">
            <!-- TODO show logo on print -->
            <!-- aggregate order -->
            <div class="panel panel-default">
                <div class="panel-heading">{{dict.aggregatePanel.title}} <strong>{{pyOrder.dateString}}</strong></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-9">
                            <p>{{dict.aggregatePanel.totalNumberOfOrders}}: <strong>{{pyOrder.totalNumOrders}}</strong></p>
                            <p>{{dict.aggregatePanel.totalMoney}}: <strong class="price-euro">{{pyOrder.totalMoney | moneyFilter}}</strong></p>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-default hide-print" aria-label="Left Align" ng-click="printPage()">
                                {{dict.aggregatePanel.print}}
                                <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div> <!-- row -->
                </div> <!-- panel body -->
                <table class="table">
                    <tbody id="tableBody">
                        <tr ng-repeat-start="cat in pyOrder.aggregateOrder" class="active avoid-page-break">
                            <th>{{cat.categoryName}}</th>
                            <th>totaal #</th>
                        </tr>
                        <tr ng-repeat-end ng-repeat="product in cat.products">
                            <td>{{product.name}}</td>
                            <td>{{product.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- indivdual orders -->
            <div class="panel panel-default">
                <div class="panel-heading">{{dict.individualPanel.title}}</div>
                <table class="table">
                    <tbody id="tableBody">
                        <!-- message if there are no orders -->
                        <tr ng-hide="pyOrder.orders.length">
                            <th>
                                <span class="glyphicon glyphicon-info-sign"></span>
                                Er zijn geen nog geen bestellingen
                            </th>
                        </tr>

                        <tr ng-repeat-start="order in pyOrder.orders" class="active avoid-page-break">
                            <th>{{order.lastName.toUpperCase()}} {{order.firstName}}</th>
                            <td class="price-euro">{{order.totalPrice | moneyFilter}}</td>
                        </tr>
                        <tr class="active avoid-page-break" ng-if="remarksNotEmpty(order)">
                            <td colspan="3">
                                <strong>{{dict.individualPanel.remarks}}:</strong>
                                {{order.remarks}}
                            </td>
                        </tr>
                        <tr ng-repeat-end ng-repeat="product in order.products">
                            <td>{{product.name}}</td>
                            <td colspan="2">{{product.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- row main -->
</div>
