<div class="container">
    <div class="row spacer-medium">
        <div class="col-sm-3">
            <form name="userForm" ng-submit="saveNewPass()" novalidate> <!-- novalidate prevents HTML5 validation -->

                {{window.screen.availHeight}}
                {{window.screen.height}}
                {{'hi'}}

                <!-- old password -->
                <div class="form-group" ng-class="{'has-success has-feedback':userForm.passwordOld.$valid}">
                    <label for="passwordOld" class="control-label">{{dict.form.passwordOld}}</label>
                    <input type="password" class="form-control" name="passwordOld" id="passwordOld" ng-model="user.passwordOld" placeholder="{{dict.form.passwordOld}}" minlength=7 required>
                    <span ng-if="userForm.passwordOld.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-if="userForm.passwordOld.$valid" class="sr-only">(success)</span>
                </div>

                <!-- new password -->
                <div class="form-group" ng-class="{'has-success has-feedback':userForm.passwordNew.$valid}">
                    <label for="passwordNew" class="control-label">{{dict.form.passwordNew}}</label>
                    <input type="password" class="form-control" name="passwordNew" id="passwordNew" ng-model="user.passwordNew" placeholder="{{dict.form.passwordNew}}" minlength=7 required>
                    <span ng-if="userForm.passwordNew.$valid" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    <span ng-if="userForm.passwordNew.$valid" class="sr-only">(success)</span>
                    <p class="help-block">{{dict.form.passwordHelpText}}</p>
                </div>

                <!-- continue button -->
                <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-default">{{dict.form.submit}}</button>
            </form>


            <!-- feedback div -->
            <div class="container spacer-small" ng-switch on="requestStatus">
                <div ng-switch-default></div> <!-- empty -->
                <div class="text-danger" ng-switch-when="backenderror">
                    {{dict.requestStatus.backenderror}}
                </div>
                <div class="text-danger" ng-switch-when="error-message-wrong-password">
                    {{dict.requestStatus.wrongPassword}}
                </div>
                <div class="text-danger" ng-switch-when="error-message-requirements-not-met">
                    {{dict.requestStatus.reqsNotMet}}
                </div>
            </div>
        </div>
    </div>
</div>
