<div class="container">
    <div class="row">  
        <div class="col-md-3 col-md-offset-1">
            <h3>{{dict.heading}}</h3>      
            <p>{{dict.fillEmail}}</p>
            <label for="email">{{dict.email}}</label>
            <div class="input-group">
                <span class="input-group-addon" id="email-addon">@</span>
                <input type="email" class="form-control" name="email" id="email" placeholder="{{dict.email}}" aria-describedby="email-addon" ng-model="email">
            </div>
        </div>
    </div>
    
    <!-- continue button -->
    <div class="row spacer-medium">
        <div class="col-xs-11 col-xs-offset-1">
            <button type="button" class="btn btn-default request-button" ng-click="performRequest()">
                {{dict.continue}}
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
            <div request-status-handler></div>
        </div>   
    </div> 
</div>