<div class="cl_home_container background-pattern">
    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron">
            <div class="container"> <!-- searchbar -->
                <div class="row">
                    <div class="col-md-6">
                        <h2>{{dict.searchTitle}}</h2>
                        <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="form-control input-lg" ng-change="updateSearchResults()" ng-model="searchInput" placeholder="{{smallDevices ? dict.searchPlaceholderMobile : dict.searchPlaceholder}}" id="searchInput"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-lg" type="button">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-8 col-md-offset-1 col-xs-offset-2">
                        <img src="images/brand/panem_groot.png" width="80%" height="auto" alt="" ng-hide="smallDevices">
                    </div>
                </div>
            </div>
        </header>

        <!-- <hr>  horizontal rule removed -->

        <!-- show search results in rows of four items -->
        <div class="row text-center" ng-repeat="resultRow in [0,1]"> <!-- search results -->

            <!-- load eight search results -->

            <!-- desktop version -->
            <div class="col-md-3 col-xs-12 col-md-offset-0 hero-feature" ng-repeat="bakery in pyBakeries | orderBy: '-totalScore' | limitTo: 4*(resultRow+1)" ng-if="$index > 4*resultRow-1 && !smallDevices" >
                <a href="#/client/bakery?bakeryId={{bakery.id}}">
                    <div class="thumbnail">
                        <img src="{{IMAGE_SOURCE + bakery.photoId + IMAGE_EXTENSION}}" alt="">
                        <div class="caption">
                            <h4>{{bakery.name}}</h4>
                            <h4>
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                {{bakery.city}}
                            </h4>
                        </div>
                    </div>
                </a>
            </div>

            <!-- mobile version -->
            <div class="col-md-3 col-xs-12 col-md-offset-0 hero-feature" ng-repeat="bakery in pyBakeries | orderBy: '-totalScore' | limitTo: 4*(resultRow+1)" ng-if="$index > 4*resultRow-1 && smallDevices">
                <a href="#/client/bakery?bakeryId={{bakery.id}}">
                    <div class="row home-small-bakery-box">
                        <div class="col-xs-3">
                            <img src="{{IMAGE_SOURCE + bakery.photoId + IMAGE_EXTENSION}}" class="home-small-img-padding img-rounded" alt="" width="75">
                        </div>
                        <div class="col-xs-9 home-small-caption">
                            <h4>{{bakery.name}}</h4>
                            <h4>
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                {{bakery.city}}
                            </h4>
                        </div>
                    </div>
                </a>
            </div>


        </div><!-- /.row -->
    </div>
    <!-- /.container -->
</div>
