<div class="container">
    <div class="row spacer-medium"> <!-- main -->
        <div class="col-md-8 col-md-offset-2">
            
            <!-- credit summary -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-1">
                            <h2 class="bootstrap-green">{{dict.creditPanel.currentCredit}}</h2>
                            <p style="font-size: 400%" class="bootstrap-green price-euro">{{userInfo.credit | moneyFilter}}</p>
                        </div>
                        <div class="col-md-6">
                            <p class="spacer-medium">{{dict.creditPanel.description}}</p>
                            <button type="button" class="btn btn-default spacer-medium" ng-click="navigate('#/client/topupcredit/')">
                                {{dict.creditPanel.continue}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div> <!-- row --> 
                </div> <!-- panel body -->
            </div>
            
            <h3 class="spacer-extended">{{dict.ordersPanel.title}}</h3>
            
            <!-- previous orders -->
            <div class="panel panel-default spacer-medium">
                <!-- show this message if no orders to display -->
                <div class="panel-body" ng-show="!pyPreviousOrders.length">
                    <div class="row">
                        <div class="col-md-8">{{dict.ordersPanel.noOrders}}</div>
                    </div>
                </div>                
                
                <!-- show the orders -->
                <table class="table table-hover">
                    <!-- TODO maak markeringen vanaf waar deze week, vorige week, twee weken geleden, ... -->
                    <tbody>                        
                        <tr ng-repeat="order in pyPreviousOrders" ng-click="navigateToOrder(order.id, order.bakeryId)">
                            <th scope="row">{{order.date}}</th>
                            <td>{{order.bakeryName}}</td>
                            <td class="price-euro">{{order.totalPrice | moneyFilter}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!-- row main -->    
</div>