<div class="container">
    <div class="row">  
        <div class="col-md-3 col-md-offset-1">
            <h3>Wachtwoord vergeten</h3>      
            <p>Vul hieronder je email adres in</p>
            <label for="email">Email</label>
            <div class="input-group">
                <span class="input-group-addon" id="email-addon">@</span>
                <input type="email" class="form-control" name="email" id="email" placeholder="email" aria-describedby="email-addon" ng-model="form.email">
            </div>
            <button type="button" class="btn btn-default spacer-medium">
                Verder
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
        </div>
    </div> 
</div>