<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <!-- NEED de tod-o's van in doc op dropbox, + woorden in bold -->
            <h1>Algemene Voorwaarden en Privacy Panem.be</h1>
            <h2>ALGEMEEN PRIVACYBELEID</h2>
            Wij zijn begaan met de privacy van alle bezoekers van www.panem.be. Dit privacybeleid geeft u uitleg over hoe wij de informatie die wij van u tot onzer beschikking krijgen, gebruiken en beschermen. Door het bezoeken en/of gebruik maken van de aangeboden diensten op de website, geeft u toestemming tot het opslaan, gebruiken en overdragen van de informatie die wij van u tot onze beschikking krijgen.
            <h3>Verplichtingen</h3>
            Panem is slechts een tussenpersoon. De winkel, en niet Panem, is verantwoordelijk voor het leveren van de bestelling.
            Het opslaan van uw gegevens
            Wanneer u inlogt of registreert op onze website, wordt u gevraagd om informatie te geven over uzelf zoals naam en contactgegevens. Deze zal worden opgeslagen in een centrale database, zodat u kan beschikken over een eigen account waarmee u telkens kan inloggen. We kunnen ook informatie opslaan over uw gebruik van de website, zoals de bestelling die u plaatst en wat uw favoriete winkels zijn, alsook locatiegegevens, het bedrag dat op uw account staat, de informatie over u die wij halen uit de berichten die u plaatst op de website evenals de e-mails of de brieven die u naar ons verzendt.

            <h3>Het gebruiken van uw gegevens</h3>
            Uw informatie stelt ons in staat om u toegang te geven tot een eigen account waardoor u online kan bestellen bij de aangesloten winkels op onze website. Wij kunnen uw informatie gebruiken om contact met u op te nemen waarbij wij vragen naar uw mening over onze website en om u op de hoogte te stellen van belangrijke veranderingen of ontwikkelingen aangaande de website. 
            Als u toestemming heeft gegeven, mogen wij uw informatie gebruiken om u te informeren over onze diensten inclusief services die onderdeel zijn van direct marketing. Wij kunnen contact met u op nemen middels telefoon, SMS evenals e-mail. Als u in de toekomst van gedachten verandert betreffende het benaderd worden, laat ons dit dan weten door gebruik te maken van de contactgegevens die u vindt op de website. U heeft steeds het recht om ons kosteloos te vragen geen verder gebruik te maken van uw gegevens. 

            Door middel van het toevoegen van opmerkingen en feedback op de website geeft u ons toestemming zulke opmerkingen en feedback op de website en in adverteer- en reclamemateriaal te publiceren. Wij zullen voor dit doel enkel uw voornaam en woonplaats gebruiken.

            <h3>Het openbaar maken van uw gegevens</h3>
            De informatie die u blootstelt aan ons zal worden bewaard op onze servers in België.
            Als u instemming heeft gegeven hebben we de mogelijkheid om derde partijen, waaronder marketing-en reclamebureaus, toestemming te geven om incidenteel contact met u op te nemen over services die van belang kunnen zijn voor u. Zij kunnen contact met u op nemen middels telefoon, SMS evenals e-mail. Als u van gedachten verandert betreffende het benaderd worden in de toekomst, laat ons dit dan weten waarbij u gebruik kunt maken van de contactgegevens die u vindt op de website.

            Wij kunnen uw informatie gebruiken als we op grond van een wettelijke verplichting uw informatie moeten verstrekken of delen op grond van een wettelijke verplichting of om de rechten van Oak BVBA of anderen te beschermen. Dit omvat het uitwisselen van informatie met andere ondernemingen en andere organisaties met als doel het tegengaan fraude.

            <h3>Cookies</h3>
            Cookies zijn kleine hoeveelheden informatie die op de computer worden opgeslagen. Tenzij u heeft laten weten dat u hier bezwaar tegen heeft, zal ons systeem cookies naar uw computer sturen wanneer u gebruik maakt van de website (dit geldt voor zowel geregistreerde en niet-geregistreerde gebruikers). Cookies maken het makkelijker voor u om in de toekomst in te loggen op of gebruik te maken van de website. Cookies geven ons ook de mogelijkheid tot het monitoren van het dataverkeer en de inhoud van de website voor u te personaliseren. U kunt uw computer instellen tot het verwerpen van cookies maar besef dat wanneer u dat doet, u niet in staat bent om gebruik te maken van sommige functies op de website.

            <h3>Veiligheid en het bewaren van gegevens</h3>
            Wij treffen maatregelen om uw informatie te beschermen tegen niet-geautoriseerde toegang en tegen illegale verwerking, onopzettelijk verlies, vernietiging en beschadiging. We zullen uw informatie bewaren gedurende een redelijke periode of voor zolang als de wet dit voorschrijft. Als u een wachtwoord heeft gekozen waarmee u toegang krijgt tot bepaalde onderdelen van de website, bent u verantwoordelijk voor het vertrouwelijk houden van dat wachtwoord. Wij adviseren u om uw wachtwoord met niemand te delen. Uw gegevens worden te allen tijde veilig versleuteld bij communicatie tussen de website en de servers. Deze zijn dus beveiligd tegen hackers die uw internet zouden afluisteren, maar garandeert niet dat dit niet kan gebeuren. 

            <h3>Toegang tot en bijwerken van informatie</h3>
            U heeft het recht om de informatie te zien die wij hebben van u en om ons te vragen om aanpassingen te doen om er zeker van te zijn dat de informatie accuraat is en up-to-date. Als u hiervan gebruik wenst te maken, neemt u dan contact met ons op waarbij u gebruik kunt maken van de contactgegevens op de website.

            <h3>Veranderingen aan onze privacy</h3>
            Elke verandering aan ons privacybeleid zal worden geplaatst op de website en, waar nodig, middels notificatie per e-mail.

            <h3>Contact</h3> NEED doorverwijzen naar contactpagina? idem contact hieronder ergens

            Alle opmerkingen, vragen en verzoeken zijn welkom en dienen te worden gericht aan Oak BVBA [ADRES] Telefonisch bereikbaar op [+32 475 237 915]. Per e-mail bereikbaar via info@panem.be

            <h2>ALGEMENE VOORWAARDEN GEBRUIKERS</h2>

            Wij waarderen het vertrouwen dat u stelt in Oak BVBA en bijgevolg in Panem.be en nemen uw rechten zeer ernstig op. Deze algemene voorwaarden zullen u duidelijk maken wat uw wettelijke situatie is tijdens uw bezoek en bestellingen op panem.be. Door u toegang te verschaffen tot panem.be, stemt u toe tot een wettelijke verbintenis en de bepalingen en voorwaarden hieronder na te leven. Op alle aanbiedingen, bestellingen en overeenkomsten van Oak BVBA zijn deze algemene voorwaarden van toepassing.

            <h3>Verzakingsrecht</h3>

            De consument beschikt niet over het recht om van zijn aankoop af te zien na de betaling online.  De winkel waarbij de bestelling is geplaatst dient deze goed te keuren. De winkel behoudt steeds het recht een bestelling af te keuren.

            <h3>Afhaling van uw aankoop</h3>
            De plaats van afhaling betreft de winkel waarbij u uw bestelling heeft geplaatst. U vindt op de pagina van desbetreffende winkel gegevens over de tijdstippen wanneer u een bestelling kan plaatsen. De winkels in kwestie kunnen bij aanvaarding van uw bestelling uw bestellingstatus wijzigen in ‘goedgekeurd’. Oak BVBA kan niet aansprakelijk worden gesteld voor eventuele bestellingen die niet werden behandeld door de winkels in kwestie. De aangesloten winkels blijven ten alle tijden verantwoordelijk voor het tijdig bereiden van de door u geplaatste bestelling.

            <h3>Toepasselijke wetgeving en bevoegde jurisdictie</h3>
            De Belgische wet is van toepassing. Enkel de rechtbanken en hoven van het gerechtelijk arrondissement [Antwerpen] zullen bevoegd zijn in geval van een geschil.

            <h3>Contact</h3>
            Alle opmerkingen, vragen en verzoeken zijn welkom en dienen te worden gericht aan Oak BVBA [ADRES] Telefonisch bereikbaar op [+32 475 237 915]. Per e-mail bereikbaar via info@panem.be

            <h2>ALGEMENE VOORWAARDEN WINKELS</h2>

            Wij waarderen het vertrouwen dat u stelt in Oak BVBA en bijgevolg in Panem.be en nemen uw rechten zeer ernstig op. Deze algemene voorwaarden zullen u duidelijk maken wat uw wettelijke situatie is tijdens uw bezoek en bestellingen op panem.be. Door u toegang te verschaffen tot panem.be, stemt u toe tot een wettelijke verbintenis en de bepalingen en voorwaarden hieronder na te leven. Op alle aanbiedingen, bestellingen en overeenkomsten van Oak BVBA zijn deze algemene voorwaarden van toepassing.

            <h3>Instapvoorwaarden</h3>
            Als uitbater kan u uzelf ten allen tijde registreren op onze website Panem.be . Na bevestiging en het goedkeuren van onze algemene voorwaarden, kan u onmiddellijk uw eigen pagina en winkellijst aanmaken. U kan 15 dagen lang gratis uw website opbouwen en uittesten. Vanaf dag 15 ontvangt u uw eerste driemaandelijkse factuur,  ongeacht uw website reeds online staat of niet. Deze dient binnen de 30 dagen betaald te worden. Bij het online komen krijgt u ook een gratis promotiepakket toegestuurd, bestaande uit 1000 flyers en 5 affiches per winkel. Wanneer u beschikt over een promotiecode die recht geeft op 3 maand gratis ontvangt u uw eerste factuur 105 dagen na registratie.

            <h3>Facturatie</h3>
            Vijftien dagen na registratie zal u een eerste driemaandelijkse factuur ontvangen. Deze dient binnen de 30 dagen betaald te worden. Er wordt enkel een forfaitair, driemaandelijks bedrag aangerekend. Kosten voor updates zullen niet worden aangerekend. U heeft de mogelijkheid per domiciliëring te werken. Indien de betaling niet in orde is zal u gecontacteerd worden en uw pagina onmiddellijk offline worden gehaald.

            <h3>Uitstapvoorwaarden</h3>
            Wanneer u niet langer gebruik wenst te maken van de diensten van panem.be, kan u dit laten weten via info@panem.be. U kan ten allen tijde kosteloos het gebruik van onze diensten stop zetten. U betaalt enkel de laatst gestarte maand, afhankelijk van datum van facturatie. Uw pagina wordt automatisch offline gehaald aan het einde van deze periode.

            <h3>Verzakingsrecht</h3>
            De consument beschikt niet over het recht om van zijn aankoop af te zien en zal na bestelling deze moeten afhalen en betalen bij de desbetreffende winkel. De consument kan ten allen tijden aansprakelijk gesteld worden voor bestellingen die niet zijn afgehaald en dienen betaald te worden. De winkel waarbij de bestelling is geplaatst dient deze goed te keuren. De winkel behoudt steeds het recht een bestelling af te keuren.

            <h3>Afhalingen</h3>
            De plaats van afhaling betreft de winkel waarbij de bestelling is geplaatst. Oak BVBA kan niet aansprakelijk worden gesteld voor eventuele bestellingen die niet werden afgehaald. De aangesloten winkels blijven ten alle tijden verantwoordelijk voor het tijdig bereiden van de bestelling.

            <h3>Toepasselijke wetgeving en bevoegde jurisdictie</h3>
            De Belgische wet is van toepassing. Enkel de rechtbanken en hoven van het gerechtelijk arrondissement [Antwerpen] zullen bevoegd zijn in geval van een geschil.

            <h3>Contact</h3>
            Alle opmerkingen, vragen en verzoeken zijn welkom en dienen te worden gericht aan Oak BVBA [ADRES] Telefonisch bereikbaar op [+32 475 237 915]. Per e-mail bereikbaar via info@panem.be
        
        </div> <!-- col -->
    </div> <!-- row -->
</div> <!-- container -->