{
  swagger: "2.0",
  info: {
    "title": "API Panem Backend",
    "description": "API for communication between panem frontend and backend",
    "version": "1.0.0"
  },
  host: "panem.be",
  schemes: [
    "http"
  ],
  produces: [
    "application/json"
  ],
  paths: {
    "/bakery/" : {
      get : {
        summary: "get all bakery objects",
        responses : {
          "200": {
            "description": "Returned all bakery objects"
          }
        }
      },
      post : {
        summary: "post new bakery object",
        responses : {
          "200": {
            "description": "succesfully retrieved"
          }
        }
      }
    },
    "/bakery/{bakeryId}/" : {
      parameters: [{
        "name": "bakeryId",
        "in": "path",
        "description": "Id of the bakery to fetch",
        "required": true,
        "type": "integer",
        "format": "int64"
      }],
      get : {
       summary: "get bakery object with given id",
        responses : {
          "200": {
            "description": "Returned bakery object with id = {bakeryId}"
          }
        }
      },
      patch : {
        summary: "update bakery object",
        responses : {
          "200": {
            "description": "succesfully updated"
          }
        }
      },
      delete : {
        summary: "delete bakery object",
        responses : {
          "200": {
            "description": "succesfully deleted"
          }
        }
      }
    },
    "/bakery/{bakeryId}/offer/" : {
      parameters: [{
        "name": "bakeryId",
        "in": "path",
        "description": "Id of the bakery to fetch",
        "required": true,
        "type": "integer",
        "format": "int64"
      }],
      get : {
       summary: "get all products offered in a given bakery",
        responses : {
          "200": {
            "description": "Returned product list"
          }
        }
      }
    }
  }
}
