<!-- alert message when request to backend failed -->
<div class="alert alert-danger alert-custom" role="alert" ng-show="requestStatus == 'error'"> <!-- TODO text-center? -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <span class="glyphicon glyphicon-flash"></span> {{dict.alertMessage}} <a href="/#/client/contact/" class="white-link">{{dict.linkToContact}}</a>
</div>

<!-- navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-img" href="#">
                <img alt="logo" height="auto" width="110" src="images/brand/logo.png">
            </a>
        </div>
        <div class="navbar-header pull-right" ng-switch="userInfo.type">
            <!-- content if not logged in -->
                <!-- register button -->
                <button type="button" ng-show="!loggedIn" class="btn btn-default navbar-btn" ng-click="changeUrl('/client/register?source='+urlPath)">
                    {{dict.register}}
                </button>

                <!-- log in buton -->
                <button type="button" ng-show="!loggedIn" class="btn btn-primary navbar-btn" ng-click="changeUrl('/client/login?source='+urlPath)">
                    {{dict.login}}
                </button>

            <!-- content if logged in -->
                <!-- client myaccount button -->
                <button class="btn btn-default navbar-btn" ng-click="navigate('#/client/myaccount')" ng-show="loggedIn" ng-switch-when="normal">
                    {{userInfo.firstName + ' ' + userInfo.lastName}}
                </button>

                <!-- bakery mybakery button -->
                <button class="btn btn-default navbar-btn" ng-click="navigate('#/baker/managebakery')" ng-show="loggedIn" ng-switch-when="baker">
                    {{userInfo.bakery.name}}
                </button>

                <!-- logout button -->
                <button class="btn btn-danger navbar-btn" ng-click="logout()" ng-show="loggedIn">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </button>
        </div>
    </div>
</nav>
